@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div>
    <h2 class="display-4">Graph PowerShell Conversion Analyzer</h2>
    <p>Get help converting your MSOnline and Azure AD PowerShell script to Graph PowerShell.</p>
    <p>Paste in your MSOnline and Azure AD PowerShell scripts and click Analyze.</p>
    <p>Need some sample code to try things out? <a href="#" onclick="insertSampleCode()">Click here</a> to insert some sample Azure AD PowerShell code.</p>

    <form method="post" id="convertForm">

        <div id="monSourceScript" style="height:300px;border:1px solid grey"></div>

        <textarea id="sourceScriptText" asp-for="SourceScript" style="display:none;"></textarea>
        <textarea id="sampleScript" style="display:none;">
$user = Get-AzureADUser -Filter "userPrincipalName eq 'jondoe@contoso.com'"
New-AzureADUser -DisplayName "New User" -PasswordProfile $PasswordProfile -UserPrincipalName "NewUser@contoso.com" -AccountEnabled $true -MailNickName "Newuser"
Set-MsolUserPassword -UserPrincipalName 'davidchew@consoso.com' -NewPassword 'pa$$word'
$proxies = Get-AzureADApplicationProxyApplication -All

</textarea>
        <p></p>
        <p>
            <input type="submit" value="Analyze" asp-page-handler="Submit" />
        </p>


        @{
            if (HttpMethods.IsPost(Request.Method))
            {
                if (Model.ParsedScript != null && Model.ParsedScript.IsValid)
                {
                    <h3>Graph PowerShell Analysis</h3>
                    <p>The following Azure AD PowerShell commands were found in your script. Use the guide below to convert your script to use Graph PowerShell.</p>
                    @foreach (var cmd in Model.ParsedScript.ConvertedCommands)
                    {
                        <hr />
                        @if (cmd.HasGraphCommand)
                        {
                            <h4>@cmd.GraphCmdName @Html.Raw("<-") @cmd.AadCmdName</h4>
                            <p>
                                <pre><code class="language-powershell">@cmd.ConvertedScript</code></pre>
                            </p>
                        }
                        <ul>
                            @if (cmd.HasGraphCommand)
                            {
                                var communitySampleUri = "https://github.com/orgs/msgraph/discussions?discussions_q=" + cmd.GraphCmdName;
                                <li><a href="@cmd.GraphCmdDocLink" target="_blank">@cmd.GraphCmdDisplayName</a> @Html.Raw("<-") <a href="@cmd.AadCmdDocLink" target="_blank">@cmd.AadCmdName</a></li>
                                <li><a href="@communitySampleUri" target="_blank">View community contributed scripts for @cmd.GraphCmdDisplayName</a></li>
                                <li>Permission Scopes for @cmd.GraphCmdName (least to highest privilege)<br/>
                                    @foreach(var scope in cmd.CommandMap.GraphCmdScope.Split(";"))
                                    {
                                        var href = string.Format("https://graphpermissions.merill.net/permission/" + scope + ".html");
                                        <a target="_blank" href="@href">@scope</a> 
                                    }
                                </li>
                            }
                            else
                            {
                            <h4>@cmd.AadCmdName</h4>
                                <li><a href="@cmd.GraphCmdDocLink" target="_blank">@cmd.GraphCmdDisplayName</a></li>
                                <li><a href="@cmd.AadCmdDocLink" target="_blank">@cmd.AadCmdName</a></li>
                            }
                            

                            
                        </ul>
                        <p>
                             
                        </p>
                    }
                }
                else
                {
                    <p>There were some errors when running the analyzer.</p>
                    if (Model.ParsedScript != null && Model.ParsedScript.Errors.Count > 0)
                    {
                        <ul style="color:red">
                            @foreach (var err in Model.ParsedScript.Errors)
                            {
                                <li>@err.Message</li>
                            }
                        </ul>
                    }
                }
            }
        }

    </form>
</div>
@section scripts{
<script>
    var editor;
    $(document).ready(function () {
        require.config({ paths: { 'vs': '/lib/vs' } });
        editor = monaco.editor.create(document.getElementById('monSourceScript'), {
            language: 'powershell',
            theme: "vs-dark",
            minimap: {
                enabled: false
            }
        });
        editor.setValue($('#sourceScriptText').val());
        editor.focus();
    })

    $("#convertForm").submit(function(event) {
        $('#sourceScriptText').val(editor.getValue());
    });

    function insertSampleCode(){
        editor.setValue($('#sampleScript').val());
        editor.focus();
    }
</script>
}